In [ ]:
from google.colab import drive
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [ ]:
 dataframe = pd.read_csv('cirrhosis.csv')

In [ ]:
dataframe

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,414,681,D,NaN,24472,F,NaN,NaN,NaN,N,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0
414,415,1103,C,NaN,14245,F,NaN,NaN,NaN,N,0.9,NaN,3.83,NaN,NaN,NaN,NaN,180.0,11.2,4.0
415,416,1055,C,NaN,20819,F,NaN,NaN,NaN,N,1.6,NaN,3.42,NaN,NaN,NaN,NaN,143.0,9.9,3.0
416,417,691,C,NaN,21185,F,NaN,NaN,NaN,N,0.8,NaN,3.75,NaN,NaN,NaN,NaN,269.0,10.4,3.0
417,418,976,C,NaN,19358,F,NaN,NaN,NaN,N,0.7,NaN,3.29,NaN,NaN,NaN,NaN,350.0,10.6,4.0

In [ ]:
array =np.asarray(dataframe)

In [ ]:
array[:5,:]

array([[1, 400, 'D', 'D-penicillamine', 21464, 'F', 'Y', 'Y', 'Y', 'Y',
        14.5, 261.0, 2.6, 156.0, 1718.0, 137.95, 172.0, 190.0, 12.2, 4.0],
       [2, 4500, 'C', 'D-penicillamine', 20617, 'F', 'N', 'Y', 'Y', 'N',
        1.1, 302.0, 4.14, 54.0, 7394.8, 113.52, 88.0, 221.0, 10.6, 3.0],
       [3, 1012, 'D', 'D-penicillamine', 25594, 'M', 'N', 'N', 'N', 'S',
        1.4, 176.0, 3.48, 210.0, 516.0, 96.1, 55.0, 151.0, 12.0, 4.0],
       [4, 1925, 'D', 'D-penicillamine', 19994, 'F', 'N', 'Y', 'Y', 'S',
        1.8, 244.0, 2.54, 64.0, 6121.8, 60.63, 92.0, 183.0, 10.3, 4.0],
       [5, 1504, 'CL', 'Placebo', 13918, 'F', 'N', 'Y', 'Y', 'N', 3.4,
        279.0, 3.53, 143.0, 671.0, 113.15, 72.0, 136.0, 10.9, 3.0]],
      dtype=object)

In [ ]:
onehotcols = {}

In [ ]:
patients, featsinit = array.shape
array.shape

ray = array[:,2]
cats = set(ray)
l_cats = list(cats)
catOnehot = np.zeros((patients, len(cats)))
count = 0
for i in ray:
  ind = l_cats.index(i)
  catOnehot[count,ind] = 1
  count+=1
  onehot2 = catOnehot
onehotcols[2] = l_cats

In [ ]:
onehot2,catOnehot

(array([[0., 1., 0.],
        [0., 0., 1.],
        [0., 1., 0.],
        ...,
        [0., 0., 1.],
        [0., 0., 1.],
        [0., 0., 1.]]), array([[0., 1., 0.],
        [0., 0., 1.],
        [0., 1., 0.],
        ...,
        [0., 0., 1.],
        [0., 0., 1.],
        [0., 0., 1.]]))

In [ ]:
patients, featsinit = array.shape
array.shape

ray = array[:,3]
cats = set(ray)
l_cats = list(cats)
catOnehot = np.zeros((patients, len(cats)))
count = 0
for i in ray:
  ind = l_cats.index(i)
  catOnehot[count,ind] = 1
  count+=1
  onehot3 = catOnehot
onehotcols[3] = l_cats

In [ ]:
patients, featsinit = array.shape
array.shape

ray = array[:,5]
cats = set(ray)
l_cats = list(cats)
catOnehot = np.zeros((patients, len(cats)))
count = 0
for i in ray:
  ind = l_cats.index(i)
  catOnehot[count,ind] = 1
  count+=1
  onehot5 = catOnehot
onehotcols[5] = l_cats

In [ ]:
patients, featsinit = array.shape
array.shape

ray = array[:,6]
cats = set(ray)
l_cats = list(cats)
catOnehot = np.zeros((patients, len(cats)))
count = 0
for i in ray:
  ind = l_cats.index(i)
  catOnehot[count,ind] = 1
  count+=1
  onehot6 = catOnehot
onehotcols[6] = l_cats

In [ ]:
patients, featsinit = array.shape
array.shape

ray = array[:,7]
cats = set(ray)
l_cats = list(cats)
catOnehot = np.zeros((patients, len(cats)))
count = 0
for i in ray:
  ind = l_cats.index(i)
  catOnehot[count,ind] = 1
  count+=1
  onehot7 = catOnehot
onehotcols[7] = l_cats

In [ ]:
patients, featsinit = array.shape
array.shape

ray = array[:,8]
cats = set(ray)
l_cats = list(cats)
catOnehot = np.zeros((patients, len(cats)))
count = 0
for i in ray:
  ind = l_cats.index(i)
  catOnehot[count,ind] = 1
  count+=1
  onehot8 = catOnehot
onehotcols[8] = l_cats

In [ ]:
patients, featsinit = array.shape
array.shape

ray = array[:,9]
cats = set(ray)
l_cats = list(cats)
catOnehot = np.zeros((patients, len(cats)))
count = 0
for i in ray:
  ind = l_cats.index(i)
  catOnehot[count,ind] = 1
  count+=1
  onehot9 = catOnehot
onehotcols[9] = l_cats

In [ ]:
colNames = list(dataframe.columns)
colNames

['ID',
 'N_Days',
 'Status',
 'Drug',
 'Age',
 'Sex',
 'Ascites',
 'Hepatomegaly',
 'Spiders',
 'Edema',
 'Bilirubin',
 'Cholesterol',
 'Albumin',
 'Copper',
 'Alk_Phos',
 'SGOT',
 'Tryglicerides',
 'Platelets',
 'Prothrombin',
 'Stage']

In [ ]:
onehotcols

{2: ['CL', 'D', 'C'],
 3: [nan, 'Placebo', 'D-penicillamine'],
 5: ['F', 'M'],
 6: [nan, 'Y', 'N'],
 7: [nan, 'Y', 'N'],
 8: [nan, 'Y', 'N'],
 9: ['S', 'Y', 'N']}

In [ ]:
newOHcols = {}
for i in onehotcols.keys():
  lst = onehotcols[i]
  newlst = []
  for j in lst:
    newlst.append(colNames[i]+'_'+str(j))
  newOHcols[i] = newlst

In [ ]:
newOHcols

{2: ['Status_CL', 'Status_D', 'Status_C'],
 3: ['Drug_nan', 'Drug_Placebo', 'Drug_D-penicillamine'],
 5: ['Sex_F', 'Sex_M'],
 6: ['Ascites_nan', 'Ascites_Y', 'Ascites_N'],
 7: ['Hepatomegaly_nan', 'Hepatomegaly_Y', 'Hepatomegaly_N'],
 8: ['Spiders_nan', 'Spiders_Y', 'Spiders_N'],
 9: ['Edema_S', 'Edema_Y', 'Edema_N']}

In [ ]:
greatarray= np.concatenate([array[:,:2], onehot2, onehot3, array[:,4].reshape(418,1),
                            onehot5, onehot6, onehot7, onehot8, onehot9, array[:,10:]],axis=1)

In [ ]:
allnewcols = (colNames[:2]+newOHcols[2]+newOHcols[3]+[colNames[4]]+
              newOHcols[5]+newOHcols[6]+newOHcols[7]+newOHcols[8]+newOHcols[8]+colNames[10:])

In [ ]:
len(allnewcols), allnewcols

(33,
 ['ID',
  'N_Days',
  'Status_CL',
  'Status_D',
  'Status_C',
  'Drug_nan',
  'Drug_Placebo',
  'Drug_D-penicillamine',
  'Age',
  'Sex_F',
  'Sex_M',
  'Ascites_nan',
  'Ascites_Y',
  'Ascites_N',
  'Hepatomegaly_nan',
  'Hepatomegaly_Y',
  'Hepatomegaly_N',
  'Spiders_nan',
  'Spiders_Y',
  'Spiders_N',
  'Spiders_nan',
  'Spiders_Y',
  'Spiders_N',
  'Bilirubin',
  'Cholesterol',
  'Albumin',
  'Copper',
  'Alk_Phos',
  'SGOT',
  'Tryglicerides',
  'Platelets',
  'Prothrombin',
  'Stage'])

In [ ]:
greatarray = greatarray.astype(float)

In [ ]:
np.save("onehot_cirrhosis_raw.npy",greatarray)

In [ ]:
A=np.load("greatarray.npy",allow_pickle=True).astype('float64')

In [ ]:
cleanRows = (np.sum(np.isnan(A),1) ==0)

In [ ]:
cleanA = A[cleanRows]